@model aspnetcoreapp.Models.MessageModel

@{
    ViewData["Title"] = "Edit";
}


@using (Html.BeginForm("EditById", "Home", FormMethod.Post))
{
    <div class="form-group row">
        <label for="Name" class="col-4 col-form-label">Name</label>
        <div class="col-8">
            <input id="Name" name="Name" placeholder="yourn name" type="text" class="form-control" required="required" value="@Html.ValueFor(m => m.Name)">
        </div>
    </div>
    <div class="form-group row">
        <label for="Message" class="col-4 col-form-label">Message</label>
        <div class="col-8">
            <input id="Text" name="Text" placeholder="leave a message" type="text" class="form-control" value="@Html.ValueFor(m => m.Text)">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <input type="hidden" name="Id" value="@Model.Id" />
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

}