@model aspnetcoreapp.Models.MessageModel

@{
    ViewData["Title"] = "Index";
}


@using (Html.BeginForm("Hello", "Home", FormMethod.Post))
{
<table cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="2" align="center">New Message</th>
    </tr>
    <tr>
        <td>Name: </td>
        <td>
            @Html.TextBoxFor(m => m.Name)
        </td>
    </tr>

    <tr>
        <td>Message: </td>
        <td>
            @Html.TextBoxFor(m => m.Text)
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Add a message" /></td>
    </tr>
    <tr>
        <a href="/Home/Hello">All Messages</a>
    </tr>
</table>
}